/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.hidden {
    display: none !important;
    visibility: hidden !important;
}

#resume {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.window {
    min-width: 500px;
    min-height: 430px;
    background: #272822;
    border-radius: 5px;
    overflow: hidden;
    font-size: 13px;
}

.body {
    font-family: Andale Mono, monospace;
    padding: 10px;
}

.body p {
    color: #fff;
    padding: 1px 0;
}

@keyframes blink {
    0% {
        background: rgba(225, 225, 225, 100);
    }
    100% {
        background: rgba(225, 225, 225, 0);
    }
}

@-webkit-keyframes blink {
    0% {
        background: rgba(225, 225, 225, 100);
    }
    100% {
        background: rgba(225, 225, 225, 0);
    }
}

@-moz-keyframes blink {
    0% {
        background: rgba(225, 225, 225, 100);
    }
    100% {
        background: rgba(225, 225, 225, 0);
    }
}

.cursor {
    background: #63de00;
    display: inline-block;
    width: 11px;
    height: 19px;
    margin-bottom: -3px;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
}

.method {
    color: #C285FF;
}

.path {
    color: #85D6FF;
}

.ip {
    color: #585856;
}

.date {
    color: #585856;
}

.controller {
    color: #FF0066;
}

.action {
    color: #FF0066;
}

.format {
    color: #C285FF;
}

.template-name {
    color: #FFFF66;
}

.layout-name {
    color: #C285FF;
}

.rendering-time {
    color: #85D6FF;
}

.model-load {
    color: #da564a;
}

.sql-query {
    color: #585856;
}

.total-time {
    color: #85D6FF;
}

.status.success {
    color: #33D633;
}

.status.error {
    color: red;
}