.streamlog {
    min-width: 500px;
    min-height: 430px;
    background: #272822;
    border-radius: 5px;
    overflow: hidden;
    font-size: 13px;
}

.streamlog-body {
    font-family: Andale Mono, monospace;
    padding: 10px;
}

.streamlog-body p {
    color: #fff;
    padding: 1px 0;
}

@keyframes blink {
    0% {
        background: rgba(225, 225, 225, 100);
    }
    100% {
        background: rgba(225, 225, 225, 0);
    }
}

@-webkit-keyframes blink {
    0% {
        background: rgba(225, 225, 225, 100);
    }
    100% {
        background: rgba(225, 225, 225, 0);
    }
}

@-moz-keyframes blink {
    0% {
        background: rgba(225, 225, 225, 100);
    }
    100% {
        background: rgba(225, 225, 225, 0);
    }
}

.streamlog-cursor {
    background: #63de00;
    display: inline-block;
    width: 11px;
    height: 19px;
    margin-bottom: -3px;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
}

.streamlog-hidden {
    display: none !important;
    visibility: hidden !important;
}

#streamlog-resume {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.log-method {
    color: #C285FF;
}

.log-path {
    color: #85D6FF;
}

.log-ip {
    color: #585856;
}

.log-date {
    color: #585856;
}

.log-controller {
    color: #FF0066;
}

.log-action {
    color: #FF0066;
}

.log-format {
    color: #C285FF;
}

.log-template-name {
    color: #FFFF66;
}

.log-layout-name {
    color: #C285FF;
}

.log-rendering-time {
    color: #85D6FF;
}

.log-model-load {
    color: #da564a;
}

.log-sql-query {
    color: #585856;
}

.log-total-time {
    color: #85D6FF;
}

.log-status.success {
    color: #33D633;
}

.log-status.error {
    color: red;
}