<!DOCTYPE html>
<html>
<head>
  <title>Streamlog</title>
  <%= stylesheet_link_tag    'streamlog/application', media: 'all' %>
  <%= javascript_include_tag 'streamlog/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
