<%= h content_for(:title, 'StreamLog') %>
<section class="mainTitle clearfix">
  <pre id="log"></pre>
  <button class="hidden" style="position: fixed; right: 40px; bottom: 40px;" id="resume">Resume</button>
</section>